---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer";
const divCSS: string = "width: 95%; padding: 10px;";
const tableCSS: string = "width: 100%; border-collapse:collapse;";
const tableBodyNameCSS: string =
    "width: 45%; border-bottom: solid 1px; border-color: #a9a9a9; padding-left: 8px; padding-right: 2px; padding-top: 4px; padding-bottom: 4px;";
const tableBodyPriceCSS: string =
    "width: 55%; border-bottom: solid 1px; border-color: #a9a9a9; padding-left: 8px; padding-right: 2px; padding-top: 4px; padding-bottom: 4px;";
---

<Layout title="menu・price">
    <main>
        <a href="/">
            <h3>Topへ</h3>
        </a>
        <h2 class="h2-body">menu・price</h2>
        <p>価格は全て税込みです</p>
        <p>お支払い方法は現金のみとなっております</p>
        <br />
        <div style="display: flex; flex-wrap: wrap;">
            <div style={divCSS}>
                <br />
                <h3>カット</h3>
                <table style={tableCSS}>
                    <tbody>
                        <tr>
                            <td style={tableBodyNameCSS}> カット</td>
                            <td style={tableBodyPriceCSS}>
                                ￥4,400
                                <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}>
                                カット
                                <br />
                                【小中高校生】
                            </td>
                            <td style={tableBodyPriceCSS}>
                                ￥3,310 <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> 幼児</td>
                            <td style={tableBodyPriceCSS}> ￥2,500</td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> 前髪カット</td>
                            <td style={tableBodyPriceCSS}> ￥1,100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style={divCSS}>
                <br />
                <h3>カラー</h3>
                <table style={tableCSS}>
                    <tbody>
                        <tr>
                            <td style={tableBodyNameCSS}> カラー＋カット</td>
                            <td style={tableBodyPriceCSS}>
                                ￥8,800〜 <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> カラーのみ</td>
                            <td style={tableBodyPriceCSS}>
                                ￥6,600〜 <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style={divCSS}>
                <br />
                <h3>ストレート</h3>
                <table style={tableCSS}>
                    <tbody>
                        <tr>
                            <td style={tableBodyNameCSS}> ストレートパーマ</td>
                            <td style={tableBodyPriceCSS}>
                                ￥9,900〜
                                <br />
                                カット、
                                <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}>
                                酸性ストレート
                                <br />
                                ショート
                            </td>
                            <td style={tableBodyPriceCSS}>
                                ￥19,800
                                <br />
                                カット、
                                <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}>
                                酸性ストレート
                                <br />
                                ミディアム
                            </td>
                            <td style={tableBodyPriceCSS}>
                                ￥22,000
                                <br />
                                カット、
                                <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}>
                                酸性ストレート
                                <br />
                                ロング
                            </td>
                            <td style={tableBodyPriceCSS}>
                                <br />
                                ￥24,200
                                <br />
                                カット、
                                <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> 縮毛矯正</td>
                            <td style={tableBodyPriceCSS}>
                                ￥16,500〜
                                <br />
                                カット
                                <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> 縮毛矯正(メンズ)</td>
                            <td style={tableBodyPriceCSS}>
                                ￥7,700〜
                                <br />
                                カット、
                                <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style={divCSS}>
                <br />
                <h3>パーマ</h3>
                <table style={tableCSS}>
                    <tbody>
                        <tr>
                            <td style={tableBodyNameCSS}> パーマ</td>
                            <td style={tableBodyPriceCSS}>
                                ￥8,800〜
                                <br />
                                カット、
                                <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> デジタルパーマ</td>
                            <td style={tableBodyPriceCSS}>
                                ￥13,200
                                <br />
                                カット、
                                <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> エアーパーマ</td>
                            <td style={tableBodyPriceCSS}>
                                ￥13,200
                                <br />
                                カット、
                                <br />
                                シャンプー、ブロー込
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style={divCSS}>
                <br />
                <h3>スパ</h3>
                <table style={tableCSS}>
                    <tbody>
                        <tr>
                            <td style={tableBodyNameCSS}> シャンプー</td>
                            <td style={tableBodyPriceCSS}> ￥1,100</td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> トリートメント</td>
                            <td style={tableBodyPriceCSS}> ￥1,320〜</td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> 水のヘッドスパ</td>
                            <td style={tableBodyPriceCSS}> ￥2,750〜 (15分)</td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> 無水ヘッドスパ</td>
                            <td style={tableBodyPriceCSS}>
                                ￥3,000 (30分)
                                <br />
                                ￥5,000 (60分)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style={divCSS}>
                <br />
                <h3>セット</h3>
                <table style={tableCSS}>
                    <tbody>
                        <tr>
                            <td style={tableBodyNameCSS}> ヘアセット</td>
                            <td style={tableBodyPriceCSS}> ￥4,400</td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> メイク</td>
                            <td style={tableBodyPriceCSS}> ￥2,200</td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> 着付け</td>
                            <td style={tableBodyPriceCSS}>
                                ￥11,000
                                <br />
                                振袖
                                <br />
                                ￥8,800
                                <br />
                                訪問着、留袖
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> 成人式</td>
                            <td style={tableBodyPriceCSS}>
                                ￥22,000
                                <br />
                                ヘアセット
                                <br />
                                メイク
                                <br />
                                着付け
                            </td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> 夏の浴衣</td>
                            <td style={tableBodyPriceCSS}>
                                ヘアセット(¥4,400)
                                <br />
                                をされた方には無料で着付けいたします
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style={divCSS}>
                <br />
                <h3>その他</h3>
                <table style={tableCSS}>
                    <tbody>
                        <tr>
                            <td style={tableBodyNameCSS}> まつ毛パーマ</td>
                            <td style={tableBodyPriceCSS}> ￥2,200</td>
                        </tr>
                        <tr>
                            <td style={tableBodyNameCSS}> 眉カット</td>
                            <td style={tableBodyPriceCSS}>
                                ￥550
                                <br />
                                学生無料
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <Footer />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 100ch;
    }
    .h2-body {
        color: #383838;
    }
    .body {
        font-size: 1rem;
        color: #383838;
        font-weight: bold;
    }
</style>
