---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import DrySpa1 from "../../images/dry-spa1.avif";
import DrySpa2 from "../../images/dry-spa2.avif";
import Bed from "../../images/bed.avif";
import Meister from "../../images/meister.avif";
import WaterSpa from "../../images/water-spa.avif";
---

<Layout title="ヘッドスパ">
  <main>
    <a href="/">
      <h3>Topへ</h3>
    </a>
    <h2 class="h2-body">ドライヘッドスパ</h2>
    <img
      src={DrySpa1.src}
      alt="ドライヘッドスパ1の画像"
      style="display: block;"
      width="50%"
    />
    <p class="body">
      「ドライヘッドスパ」とは、水やオイルを使用せずに手技のみで頭部をもみほぐすことにより、血行を促進し、睡眠を誘発するヘッドマッサージのことです。


      <br />
       ツボ押しや指圧とは異なり、頭皮の筋肉をもみほぐすことで効果を発揮します。
    </p>
    <br />
    <img
      src={DrySpa2.src}
      alt="ドライヘッドスパ2の画像"
      style="display: block;"
      width="50%"
    />
    <p class="body">
      目の周り、こめかみ、後頭部、側頭部をもみほぐします。
      <br />
       指で頭を触って上下に動かない場合は、筋肉が固まっている可能性があります。
      <br />
       頭皮の筋肉が硬くなると、弾力がなくなり、顔の筋肉にも影響を与え、ハリやたるみの原因になることがあります。
    </p>
    <br />
    <img src={Bed.src} alt="ベッドの画像" style="display: block;" width="50%" />
    <p class="body">
      ベッドでの施術になります。
      <br />
       頭皮のこりや目の疲れでお困りの方は、ぜひ極上の癒しを体感してください。
      <br />
       頭皮への施術で、心身ともにリラックスできます。
    </p>
    <br />
    <p class="body">
      30分:
      <br />&emsp;3,000円(税込)
      <br /><br />
       ミディアム:
      <br />&emsp;5,000円(税込)
      <br /><br />
       5回目のご来店で「10分プラス 」サービスいたします。
    </p>
    <br />
    <h3>☆注意事項☆</h3>
    <p class="body">
      ⚪︎ 頭傷や何かを治すものではありません。ヘッドリラクゼーションです。
      <br />
       ⚪︎ 女性限定。
      <br /><br /><br />
       当サロンは、ヘッドマイスター資格を保有したスタッフが施術を担当しています。


      <br />
       専用のお部屋で、女性スタッフがお客様に施術を行なっています。
    </p>
    <img
      src={Meister.src}
      alt="ヘッドマイスター資格の画像"
      style="display: block;"
      width="50%"
    />
    <br />
    <hr />
    <br />
    <h2 class="h2-body">水のヘッドスパ</h2>
    <img
      src={WaterSpa.src}
      alt="水のヘッドスパの画像"
      style="display: block;"
      width="50%"
    />
    <p class="body">
      水のヘッドスパは、特殊なお水を使用し、高めの温度で15分間のマッサージを行います。シャンプーでは落としきれない頭皮の汚れを取り除くことができます。


      <br />
       施術終了後には、お客様自身でも汚れを確認することができます。
      <br />
       また、頭皮の水分補給も同時に行いますので、髪も艶々サラサラになります。
    </p>
    <br />
    <p class="body">
      15分:
      <br />&emsp;2,750円(税込)
    </p>
    <p style=" font-size: 1rem; color: #383838;">
      ※ロング、毛量が多い方は500円プラスになります。
    </p>
    <br />
    <Footer />
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 100ch;
  }
  .h2-body {
    color: #383838;
  }
  .body {
    font-size: 1rem;
    color: #383838;
    font-weight: bold;
  }
</style>
